@charset "ISO-8859-1";

body{
    padding: 0 10% 10%;
}

h1{
    font-family: Helvetica, serif;
    font-size: 30px;
}

.hLogIn{
    margin-top: 300px;
}
.hCreateAccount{
    margin-top: -150px;
}

input{
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 15px;
    height: 50px;
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20%;
}

.grid{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
}

.left {
    grid-column: 1 / 2;
}

.right {
    grid-column: 2 / 3;
    margin-top: -290px;
}

.submit{
    border-style: none;
    border-radius: 20px;
    height: 40px;
    justify-self: end;
}
.create{
    width: 200px;
}
.SignIn{
    margin-top: 10px;
    width: 120px;
}

ul{
    margin-top:-43px;
}

li{
    list-style: none;
}

a{
    font-size: 12px;
    font-family: monospace;
    font-weight: lighter;
    color: black;
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}


/*#togglePassword{*/
/*    margin-top: 22px;*/
/*    margin-left: 50.5px;*/
/*}*/